.header {
  background-color: rgb(165, 55, 255);
  display: flex;
  justify-content: space-between;
  a, a:visited {
    text-decoration: none;
    color: #fff;
  }
  .app-logo {
    padding-left: 20px;
    margin-bottom: 0;
  }
  .logout-btn-wrap {
    padding-top: 4px;
    margin-right: 20px;
    .logout-btn {
      line-height: 24px;
      padding: 0px 5px;
    }
  }
}

.app-container {
  display: flex;
}
.nav-menu {
  width: 20%;
  height: calc(100vh - 32px);
  background-color: rgb(188, 130, 255);
  .nav-links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    a {
      background-color: rgb(148, 56, 253);
      color: #fff;
      text-decoration: none;
      padding: 5px;
      margin-bottom: 10px;
    }
    .active-link {
      background-color: #ad65ff;
      color: #fff;
      border: 1px 0px 1px 0px solid rgb(255, 255, 255)
    }
    a:visited {
      text-decoration: none;
    }
  }
  
}

.content {
  background-color: rgb(246, 246, 246);
  width: 100%;
}